@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    text-align: center;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


/*------main container--------*/

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: max-content 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content minmax(min-content, 1fr) minmax(min-content, 1fr) max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "logo nav nav nav nav" "side main main main main" "side cont1 cont2 cont3 cont4" "side footer footer footer footer";
    font-family: 'Montserrat', sans-serif;
}


/*---------sidebar-------*/

.sidebar {
    background-color: #333333;
    grid-area: side;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebarlist {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.sidebarlist a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    padding: .5rem;
    border-right: 2px solid transparent;
    transition: 0.1s ease-in-out;
}

.sidebarlist a:hover {
    border-right: 2px solid white;
    background-color: #222222;
}

.logo {
    grid-area: logo;
    background-color: #222222;
    justify-self: stretch;
    position: sticky;
    padding-top: 3%;
    top: 0;
    left: 0;
}


/*-------content1--------*/

.cont1 {
    background-color: #444444;
    grid-area: cont1;
    padding-top: 5%;
}


/*-------content2--------*/

.cont2 {
    background-color: #444444;
    grid-area: cont2;
    padding-top: 5%;
}


/*-------content3--------*/

.cont3 {
    background-color: #444444;
    grid-area: cont3;
    padding-top: 5%;
}


/*---------content4--------*/

.cont4 {
    background-color: #444444;
    grid-area: cont4;
    padding-top: 5%;
}

.cluenumber {
    color: white;
}


/*-------bodymain--------*/

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: white;
    border-bottom: 3px solid #555555;
}

main p {
    font-size: 1.5em;
    padding: .5rem;
    justify-items: center;
}


/*-------nav--------*/

.navbar {
    background-color: #222222;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0px;
}

.cracktheclue3 {
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: .3rem;
}

.menu>ul {
    list-style-type: none;
}

.menu>ul>li {
    display: inline;
}

.menu>ul>li>a {
    text-decoration: none;
    color: white;
    padding: .5rem;
}


/*-------footer--------*/

footer {
    background-color: #222222;
    grid-area: footer;
    color: white;
    position: sticky;
    bottom: 0;
    height: fit-content;
}


/*-------mobile query--------*/

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 0.5fr 0.6fr 2fr 1.2fr 1.2fr 1.2fr 1.2fr min-content;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "logo nav" "side side" "main main" "cont1 cont1" "cont2 cont2" "cont3 cont3" "cont4 cont4" "footer footer";
    }
    .sidebarlist a {
        display: inline-block;
        min-width: max-content;
        border-bottom: 2px solid transparent;
        border-right: 0px solid transparent;
    }
    .sidebarlist a:hover {
        border-bottom: 2px solid white;
        border-right: 0px solid transparent;
        background-color: #222222;
    }
    .logo a {
        text-decoration: none;
    }
    .cont1 img {
        width: 250px;
    }
    .cont2 img {
        width: 250px;
    }
    .cont3 img {
        width: 250px;
    }
    .cont4 img {
        width: 250px;
    }
}